---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: csm-actions/securefix-action/js@4f3e711a06d7d5a3f5527cc622f6c75362fec74b # v0.3.6
        with:
          action: validate-config
          config_file: securefix-action.yaml
