---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: csm-actions/securefix-action/js@949d3cfb554abee10f695014674759978ba8ba34 # v0.4.1
        with:
          action: validate-config
          config_file: securefix-action.yaml
