---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: csm-actions/securefix-action/js@873d4cea396431307feaa600ce7a144b3dfc747d # v0.3.0
        with:
          action: validate-config
          config_file: securefix-action.yaml
