---
name: test
on: pull_request
jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Get a configuration file
        env:
          GH_TOKEN: ${{github.token}}
        # Downloading a file using GitHub CLI is faster than using actions/checkout
        run: |
          gh api \
            -H "Accept: application/vnd.github.object" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/contents/securefix-action.yaml" \
          --jq ".content" | base64 -d > securefix-action.yaml
      - uses: csm-actions/securefix-action@b6d50c16ddf4b0d137e42ad4fa0ee29dc43d4b55 # v0.5.4
        with:
          action: validate-config
          config_file: securefix-action.yaml
