---
name: Fix
run-name: Fix (${{ github.event.label.name }})
on:
  label:
    types:
      - created
jobs:
  fix:
    if: startsWith(github.event.label.name, 'securefix-')
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    environment: main
    permissions:
      issues: write # To delete labels
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
          sparse-checkout: |
            securefix-action.yaml
          sparse-checkout-cone-mode: false
      - uses: csm-actions/securefix-action/server/prepare@4f3e711a06d7d5a3f5527cc622f6c75362fec74b # v0.3.6
        id: prepare
        with:
          app_id: ${{ vars.DEMO_SERVER_APP_ID }}
          app_private_key: ${{ secrets.DEMO_SERVER_PRIVATE_KEY }}
          config_file: securefix-action.yaml
      - uses: csm-actions/securefix-action/server/commit@4f3e711a06d7d5a3f5527cc622f6c75362fec74b # v0.3.6
        with:
          outputs: ${{ toJson(steps.prepare.outputs) }}
      - uses: csm-actions/securefix-action/server/notify@4f3e711a06d7d5a3f5527cc622f6c75362fec74b # v0.3.6
        if: failure()
        with:
          outputs: ${{ toJson(steps.prepare.outputs) }}
