---
name: Fix
run-name: Fix (${{ github.event.label.name }})
on:
  label:
    types:
      - created
jobs:
  fix:
    if: startsWith(github.event.label.name, 'securefix-')
    runs-on: ubuntu-slim # ubuntu-slim is suitable for securefix-action server workflows beucase it completes faster and uses less resources.
    timeout-minutes: 10
    environment: main
    permissions:
      issues: write # To delete labels
    steps:
      - name: Get a configuration file
        env:
          GH_TOKEN: ${{github.token}}
        # Downloading a file using GitHub CLI is faster than using actions/checkout
        run: |
          gh api \
            -H "Accept: application/vnd.github.object" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/${GITHUB_REPOSITORY}/contents/config.yaml" \
          --jq ".content" | base64 -d > securefix-action.yaml
      - uses: csm-actions/securefix-action@949d3cfb554abee10f695014674759978ba8ba34 # v0.4.1
        with:
          action: server
          app_id: ${{ vars.DEMO_SERVER_APP_ID }}
          app_private_key: ${{ secrets.DEMO_SERVER_PRIVATE_KEY }}
          config_file: securefix-action.yaml
