---
name: Update Branch
run-name: Update Branch (${{ github.event.label.name }})
on:
  label:
    types:
      - created
jobs:
  update_branch:
    if: startsWith(github.event.label.name, 'update-branch-')
    name: Update Branch (${{ github.event.label.description }})
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    environment: main
    permissions: {}
    steps:
      - uses: csm-actions/update-branch-action/server@a9203c8441eee4b478c8f2cfbe3c2d4bfa193d97 # v0.1.3
        with:
          app_id: ${{ vars.DEMO_SERVER_APP_ID }}
          app_private_key: ${{ secrets.DEMO_SERVER_PRIVATE_KEY }}
