---
name: Update Branch
run-name: Update Branch (${{ github.event.label.description }})
on:
  label:
    types:
      - created
jobs:
  update_branch:
    if: startsWith(github.event.label.name, 'update-branch-')
    name: Update Branch (${{ github.event.label.description }})
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    environment: main
    permissions: {}
    steps:
      - uses: csm-actions/update-branch-action@bbebaea1a2ba545074cad89fb8e6364ed1873a20 # v0.2.0
        with:
          app_id: ${{ vars.DEMO_SERVER_APP_ID }}
          app_private_key: ${{ secrets.DEMO_SERVER_PRIVATE_KEY }}
